<div id="tracksPanel" class="window">
    <div class="window_title_bar">
        <span class="window_title"><i class="mdi mdi-playlist-music-outline me-1"></i>Tracks</span>
        
        <i class="mdi mdi-play"></i>
        <i class="mdi mdi-pause ms-2"></i>
        <i class="mdi mdi-stop ms-2"></i>

        <span id="counter" class="ms-3"></span>

        <i class="mdi mdi-dots-vertical ms-auto d-flex align-items-center justify-content-center"></i>
    </div>
    <div class="d-flex flex-row">
        <div id="controls">
            <div id="controls_header">
                <i class="mdi mdi-plus"></i>
            </div>
        </div>
        <div id="timeline">
            <div class="content">
                <div id="track_pointer"></div>
                <div id="line_header"></div>
            </div>
        </div>
    </div>
</div>