#trackSoundDialog{
    position: absolute;
    height:200px;
    width:200px;
    left: 0px;
    top: 0px;
    border-radius:0.3rem;
    background-color:var(--panel-background-color);
    box-shadow: 0px 0px 15px rgba(0,0,0,0.3);
}
.button-close{
    font-size: 8pt;
    height: 100%;
    box-sizing: border-box;
    color:var(--panel-foreground-color);
}
